.page-header {
    background-color: cyan;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.data {
    float: right;
    color: #828282;
}


.wpisy-form textarea, .wpisy-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.wpisy {
    margin-bottom: 70px;
}

.wpisy h1 a, .wpisy h1 a:visited {
    color: #000000;
}