{% load staticfiles %}
<html>
    <head>
        <title>Testowy blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <script>
        function wyszukaj()
        {
            var url="/szukaj/" + document.getElementById("url").value;
            location.href=url;
            return false;
        }
        </script>

    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Testowy blog</a></h1>


            <form onSubmit="return wyszukaj();">
                <input type="text" name="url" id="url" value="Szukaj.."> <input type="submit" value="Wyszukaj">
            </form>
        </div>

        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>