{% extends 'blog/base.html' %}

{% block content %}
                <div class="col-md-8">
                    {% for wpis in wpisy %}
                        <div class="wpisy">
                            <div class="data">
                            	{{ wpis.data_utworzenia }}<br>
                                Kategoria: <b><a href="/kategoria/{{ wpis.kategoria }}">{{ wpis.kategoria }}</a></b></div>
                            <h1><a href="{% url 'blog.views.pojedynczy_wpis' pk=wpis.id %}">{{ wpis.tytul }}</a></h1>
                            <p>{{ wpis.tresc|linebreaks }}</p>
                        </div>
                    {% endfor %}
                </div>
{% endblock content %}
