{% extends 'blog/base.html' %}

{% block content %}
 <div class="col-md-8">
    <div class="wpisy">

    {% if wpis.data_utworzenia %}
        <div class="data">
            {{ wpis.data_utworzenia }}<br>
            Kategoria: <b><a href="/kategoria/{{ wpis.kategoria }}">{{ wpis.kategoria }}</a></b>
        </div>
    {% endif %}
    <h1>{{ wpis.tytul }}</h1>

    <p>{{ wpis.tresc|linebreaks }}</p>

    <hr>
	<div class="komentarze">
		{% if status %}
		<p class="bg-success">Komentarz zostal dodany</p>
		{% endif %}
	   	<form method="POST" action="">{% csrf_token %}
	   		<input type="hidden" name="wpis_id" value="{{ wpis.id }}">
	                {% for field in formularz %}
                        {{ field.label }}:{{ field }}<br>
                        {{ field.errors }}<br/>
                    {% endfor %}
	        <button type="submit" class="btn btn-default">Skomentuj</button>
	    </form>

	    <hr>

	   	{% for  i in komentarze %}
	   		<div class="data">{{ i.pub_date }}</div>
	   		<b>Nick:</b> {{ i.nick }}<br>
	   		<b>Treść:</b> {{ i.tresc }}
  			<hr>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}